
body {color: #4F7A06; background: #4d4d4d; margin: 0; padding: 0;}

table {width: 100%;text-align: left;}
table.toptable , table.maintable , table.footertable{width: 95%;margin-left: auto;margin-right: auto;}
table td {padding: 0; border-width: 0; vertical-align: top;font-size: 12px;font-family: /*"lucida sans unicode",*/Verdana, Arial, Helvetica, sans-serif;}

table.maintable {height:500px;background-color : #ffffff;border-left: 5px solid #FFFFFF;border-right: 5px solid #FFFFFF;}
table.toptable {background-color: #FFFFFF;border-left: 8px solid #FFFFFF;border-right: 8px solid #FFFFFF;border-top: 8px solid #FFFFFF;border-bottom: 8px solid #FFFFFF;}
div {font-size: 12px;}

.styleSite {font-family: Arial, Helvetica, sans-serif;font-size: 450%;color: #FFFF00;font-weight: bold;text-align: left}
.styleTitle {font-family: Arial, Helvetica, sans-serif;font-size: 100%;color: #CEEE73;font-weight: bold;font-style: italic;padding-right: 220px}

a {color: #000000; text-decoration: none; background-color: transparent;}
a:hover {color: #4F7A06;}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #2F5376}


/* forms elements */
input { border: 1px solid #CCCCCC;font-size: 9px; font-family: verdana, arial, helvetica, sans-serif; color: #333333;  background-color: #ffffff;padding-left:3px;background-color: #f7f7f7;}
textarea {background-color: #f7f7f7;color: #333333; border: #CCCCCC 1px solid; width: 390px; font-size: 9px; font-family: verdana, arial, helvetica, sans-serif;}
select {border: 1px solid #CCCCCC; font-size: 9px; font-family: verdana, arial, helvetica, sans-serif;}
.formButton {background-color: #9db80c;color: #ffffff;text-align:center;}
input:focus, textarea:focus{background-color: #ffffff;border: 1px solid #9f9f9f;}

.item {border: 1px solid #cccccc;}
.itemHead {padding: 3px;padding-left: 15px; background-color: #9db80c;  color: #FFFFFF;background-image: url(images/bullet.jpg);background-align: left; background-repeat: no-repeat}
.itemInfo {text-align: right; padding: 3px; background-color: #dbdcca}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #dbdcca}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}
.ltop {background-image: url(images/box_top.jpg) width: 170; height: 14;background-repeat: no-repeat }
th {background-color: #9db80c; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#headerbanner {width: 100%; background-image: url(images/h_bg.gif); vertical-align: middle; text-align:center;background-repeat: repeat-x}

td#leftcolumn {background-image: url(images/box_bg.jpg);border-left: 5px solid #FFFFFF;border-right: 5px solid #FFFFFF;}
td#leftcolumn {width: 168px; font-size:12px;}
td#leftcolumn th {color: #FFFFFF; vertical-align: middle;background-color: #9db80c; }
td#leftcolumn div.blockTitle {padding: 3px; background-image: url(images/bullet1.gif);padding-left: 25px;background-align: left;background-repeat: no-repeat; color: #408a1c; font-weight: bold;font-size: 120%}
td#leftcolumn div.blockContent {padding: 3px; line-height: 120%; line-height: 120%;}


#centercolumn {font-size: 12px;}
#centercolumn th {background-color: #9db80c; color: #FFFFFF; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 3px 5px 1px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {padding: 1px; color: #408a1c; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;font-size: 115%}
#centerCcolumn .blockContent, #bottomCcolumn .blockContent {padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;}

#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
	width: 50%; padding: 0px 3px 0px 5px;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
	padding: 3px; color: #408a1c; font-weight: bold; margin-top: 0px;font-size: 115%;
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
	padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; 
}

div#content {text-align: left; padding: 8px;}

td#rightcolumn {background-image: url(images/box_bg.jpg);}
td#rightcolumn {width: 168px;font-size:12px;border-right: 5px solid #FFFFFF;border-left: 5px solid #FFFFFF;}
td#rightcolumn th {background-color: #9db80c; color: #FFFFFF; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 3px; background-image: url(images/bullet1.gif);padding-left: 25px;background-align: left;background-repeat: no-repeat; color: #408a1c; font-weight: bold;font-size: 120%}
td#rightcolumn div.blockContent {padding: 3px; line-height: 120%;}

td#footerbar {padding: 8px;text-align: center;background-color: #CCCFBC;color: #4F7A06;border-right: 15px solid #FFFFFF;border-left: 15px solid #FFFFFF;border-top: 15px solid #FFFFFF;border-bottom: 15px solid #FFFFFF;}
td#footerbar a{color: #4F7A06;}

td#mainmenu a {background-color: transparent; display: block; margin: 0; padding: 4px;}
td#mainmenu a:hover {background-color: transparent;}
td#mainmenu a.menuTop {padding-left: 18px; border-top: 1px solid #bcc2a2; border-bottom: 1px solid #bcc2a2; background-image: url(images/bullet.gif); background-repeat: no-repeat;}
td#mainmenu a.menuMain {padding-left: 18px; border-bottom: 1px solid #bcc2a2;background-image: url(images/bullet.gif); background-repeat: no-repeat;}
td#mainmenu a.menuSub {padding-left: 9px;  border-bottom: 1px solid #bcc2a2;}

td#usermenu a {background-color: transparent; display: block; margin: 0; padding: 4px;padding-left: 18px; border-bottom: 1px solid #bcc2a2;background-image: url(images/bullet.gif); background-repeat: no-repeat;}
td#usermenu a:hover {background-color: transparent;background-image: url(images/bullet.gif); background-repeat: no-repeat;}
td#usermenu a.menuTop {padding-left: 18px; border-bottom: 1px solid #bcc2a2; background-image: url(images/bullet.gif); background-repeat: no-repeat;}
td#usermenu a.highlight {background-color: #fcc;}

.mainBL {background-image: url(images/box_bottom.jpg);height: 14px;width: 165px;
	background-repeat: no-repeat;background-position: center;border-left:5px solid #FFFFFF;border-right:5px solid #FFFFFF;}
.mainBR {background-image: url(images/box_bottom.jpg);background-repeat: no-repeat;background-position: center;
	height: 14px;width: 165px;border-right:5px solid #FFFFFF;border-left:5px solid #FFFFFF;}

.outer {border: 1px solid silver;}
.head {background-color: #dbdcca; padding: 5px;}
.even {background-color: #b5bd8e; padding: 5px;}
.odd {background-color: #bfc69c; padding: 5px;}
.foot {background-color: #dbdcca; padding: 5px; font-weight: bold;}
tr.even td {background-color: #dbdcca; padding: 5px;}
tr.odd td {background-color: #bfc69c; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}

.blocks {background-color: #ced4ae;	margin-bottom: 5px;}
.cornerTL {background-image: url(images/centre_01.gif);height: 22px;width: 26px;
background-repeat: no-repeat;background-position: left;}
.cornerTC {background-image: url(images/centre_02b.jpg);background-repeat: repeat-x;}
.cornerTR {background-image: url(images/centre_03.gif);background-repeat: no-repeat;
	background-position: right;height: 22px;width: 26px;}
.cornerBL {background-image: url(images/centre_08.gif);height: 30px;width: 26px;
	background-repeat: no-repeat;background-position: left;}
.cornerBC {background-image: url(images/centre_09b.gif);background-repeat: repeat-x;}
.cornerBR {background-image: url(images/centre_10.gif);height: 30px;width: 26px;
	background-repeat: no-repeat;background-position: right;}
.cornerCL {background-image: url(images/centre_04b.gif);background-repeat: repeat-y;
	background-position: left;width: 27px;vertical-align: top;}
.cornerCC {background-image: url(images/centre_05.gif);background-repeat: repeat-x;
background-position: top;}
.cornerCR {background-image: url(images/centrea_06b.gif);background-repeat: repeat-y;
	background-position: right;width: 33px;vertical-align: top;}
